html, body {
	margin: 0;
	padding: 0;
  }
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:center;
	background-color:rgb(219, 245, 250);
	
  }
